<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuzzulhu | Stoner Blues Doom</title>
    <!-- Seo -->
    <meta name="description"
        content="Fuzzulhu es una banda de Stoner Blues Doom de Concepción, Chile. Descubre nuestra música, integrantes y próximas fechas.">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Outfit:wght@300;400;600&display=swap"
        rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include 'components/navbar.html' %}
    
    {% block content %}{% endblock %}

    {% include 'components/footer.html' %}
    {% include 'components/scripts.html' %}
</html>
