<!-- Contacto y Footer -->
    <footer id="contact" class="footer">
        <div class="container footer-grid">
            <div class="footer-brand">
                <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="Fuzzulhu Footer Logo">
                <p>DOOM - STONER - BLUES</p>
            </div>
            <div class="footer-contact">
                <h4>Booking & EPK</h4>
                <p>Email: <a href="mailto:Fuzzulhu@gmail.com">Fuzzulhu@gmail.com</a></p>
                <p>WhatsApp: <a href="tel:+56935138566">+569 35138566</a></p>
                <div class="social-mini">
                    <a href="https://www.instagram.com/fuzzulhu/" target="_blank" rel="noopener noreferrer"><i
                            class="fa-brands fa-instagram"></i> Instagram</a>
                    <a href="https://www.facebook.com/profile.php?id=61574209956932" target="_blank"
                        rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i> Facebook</a>
                    <a href="https://www.youtube.com/channel/UCz0qwZhQvygRs1nu85QUbNw" target="_blank"
                        rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i> YouTube</a>
                    <a href="https://open.spotify.com/intl-es/artist/5mT9qbWGWRwgFRRiKhKnzG" target="_blank"
                        rel="noopener noreferrer"><i class="fa-brands fa-spotify"></i> Spotify</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 Fuzzulhu. Todos los derechos reservados.</p>
        </div>
    </footer>
