<!-- Hero Section -->
        <section id="home" class="hero">
            <!-- Partículas o capa de humo implícita en CSS -->
            <div class="hero-overlay"></div>
            <div class="hero-content">
                <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="Fuzzulhu Logo"
                    class="hero-logo drop-in delay-1">
                <div class="release-badge fade-in-up delay-2" style="margin: 1rem auto 1rem auto;">
                    <i class="fa-solid fa-compact-disc fa-spin-pulse"></i> NUEVO SPLIT EP DISPONIBLE
                </div>
                <p class="cta-text fade-in-up delay-3" style="margin-bottom: 2rem;">El ritual ha comenzado. Fuzzulhu x
                    MindFlyer Fuzz.</p>
                <a href="#music" class="btn-hero fade-in-up delay-3">
                    <i class="fa-solid fa-play" style="z-index: 2; position: relative;"></i>
                    <span style="z-index: 2; position: relative;">Escuchar Ahora</span>
                </a>
            </div>
        </section>

        <!-- Biografía -->
